node_modules/
dist/
.turbo/
.cache/
coverage/
.pnpm-store/

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo

.env
.env.*
!.env.example

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform.lock.hcl

.firebase/
.firebaserc.local
firebase-debug.log

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
